services:
  minecraft:
    image: itzg/minecraft-server:latest
    pull_policy: always
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
      - "25575:25575"
    environment:
      JAVA_OPTS: "-Djava.net.preferIPv4Stack=true"
      EULA: "TRUE"
      TYPE: "PAPER"
      VERSION: "1.21.11"
      MEMORY: "8G"
      SPIGET_RESOURCES: "81534"
      # 81534 = Chunky
      MODRINTH_PROJECTS: "fancynpcs"
      PLUGINS: "https://github.com/INIRU/Tinklepaw/releases/download/minecraft-v1.0.0/nyaru-plugin.jar"
      ENABLE_RCON: "true"
      RCON_PASSWORD: "ponjiz-copfoj-ziTwe9"
      RCON_PORT: "25575"
      MINECRAFT_API_KEY: "${MINECRAFT_API_KEY}"
    volumes:
      - mc-data:/data
    restart: unless-stopped

volumes:
  mc-data:
